form {
  position: relative;
  width: 20%;
  height: fit-content;
  padding: 20px;
  justify-content: center;
  border-radius: 10px;
  margin: auto;
  margin-top: 10%;
}

label {
  font-size: large;
}
#login {
  width: 100%;
  margin: 20px 0px 20px 0px;
}
.image {
  margin-left: 70px;
}
a {
  margin-left: 60%;
}
